
# Build Artifacts
*.apk
*.aab
*.ap_
*.dex
*.class

# Android/Gradle
/build
/*/build
/app/release
.gradle/
build/

# IDE / Local
.idea/
*.iml
local.properties
.DS_Store
.history
.kotlin/

# Temporary firmware dump folder
\[TEMP\]/